/venv/
.idea
item.py
My_sim.py
my_sim_test.py
MY_simulation.py
OOP.py
pandas_numpy.py
phone.py
sdfsfd.py
sdsfdfasad.py
simpy_roaster.py
simulation_test2.py
simulation_test3.py
simulation_test4.py
simulation_test4.5.py
simulation_test4.6.py
simulation_test5.py
test_simulation_test.py
test_simulation.py